@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ee2bee;
  --background-light: #f8f6f8;
  --background-dark: #181118;
  --text-primary: #000000;
  --text-secondary: #6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-plus-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181118;
    --foreground: #ededed;
    --text-primary: #ffffff;
    --text-secondary: #b99db9;
  }
}

.dark {
  --background: #181118;
  --foreground: #ededed;
  --text-primary: #ffffff;
  --text-secondary: #b99db9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}
