@import '@/styles/variables';
@import '@/styles/mixins';

.button {
  @include button-base;
  
  &.primary {
    @include button-primary;
  }
  
  &.secondary {
    @include button-secondary;
  }
  
  &.outline {
    background: transparent;
    color: $primary;
    border: 2px solid $primary;
    
    &:hover:not(:disabled) {
      background: rgba($primary, 0.1);
    }
  }
  
  &.ghost {
    background: transparent;
    color: $gray-700;
    
    &:hover:not(:disabled) {
      background: $gray-100;
    }
  }
  
  &.small {
    padding: $spacing-sm $spacing-md;
    font-size: $font-size-sm;
  }
  
  &.large {
    padding: $spacing-lg $spacing-xl;
    font-size: $font-size-lg;
  }
  
  &.full-width {
    width: 100%;
  }
  
  &.loading {
    position: relative;
    color: transparent;
    pointer-events: none;
    
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin: -10px 0 0 -10px;
      border: 2px solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      animation: spin 0.6s linear infinite;
      color: $white;
    }
  }
  
  .icon {
    display: inline-flex;
    margin-right: $spacing-sm;
  }
  
  .icon-right {
    display: inline-flex;
    margin-left: $spacing-sm;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
